---
const { name, image, description,link } = Astro.props;
---

<a href={link} id="Foot" class="group block overflow-hidden bg-gray-800 rounded-lg shadow-md hover:shadow-lg">
    <div class="relative">
        <!-- Image -->
        <img src={image} alt={name} class="w-full h-16  sm:h-16 md:h-32 lg:h-64 xl:64 object-cover">

        <!-- Overlay (slides up on hover) -->
        <div id="overlay" class="absolute -bottom-15 left-0 w-full h-full group-hover:opacity-80 translate-y-full group-hover:-translate-y-15
         transition-transform duration-300 flex items-center justify-center">
            <p class="text-white text-sm sm:text-base px-4 text-center">{description}</p>
        </div>
    </div>

    <!-- Project Name (always visible) -->
    <div class="p-4">
        <h2 class="text-lg font-semibold text-white">{name}</h2>
    </div>
</a>

<style>
    #overlay{
        background-color: #6E7073;
    }
n
    #overlay:hover{
        background-color: rgba(110,112,115,0.8);
        transition: background-color 0.5s;
    }
    #Foot{
        background-color: #D97904;
    }
</style>
