---
const { name, image, description,link,icons,width,height} = Astro.props;
---

<a href={link} id="Foot"  class={"group block overflow-hidden col-span-1 row-span-1  lg:col-span-"+width+"  bg-gray-800 shadow-md hover:shadow-lg h-full"}>
    <div class="relative">
        <!-- Image -->
        <img src={image} alt={name} class="w-full h-32  lg:h-96 object-cover">

        <!-- Overlay (slides up on hover) -->
        <div id="overlay" class="absolute -bottom-20 left-0 w-full h-full group-hover:opacity-80 translate-y-full group-hover:-translate-y-20
         transition-transform duration-300 flex items-center justify-center">
            <p class="text-white text-sm sm:text-base px-4 text-center">{description}</p>
        </div>
    </div>
    <!-- Project Name (always visible) -->
    <div class="p-1 lg:p-4 flex items-center justify-between">
        <h2 class="text-lg font-semibold text-white">{name}</h2>
        <div class="flex items-center space-x-2">
            {icons.map((icon: string) => (
                    <img src={icon} alt={name} class="w-8 h-4"></img>
            ))}
        </div>
    </div>
</a>

<style>
    #overlay{
        background-color: #6E7073;
    }
n
    #overlay:hover{
        background-color: rgba(110,112,115,0.8);
        transition: background-color 0.5s;
    }
    #Foot{
        background-color: #2d3133;
    }
</style>
